#categories {
  padding-top: 50px;
  padding-bottom: 100px;
}
.categories {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}



.categories__item {
  width: 175px;
  height: 290px;
  list-style: none;
  margin-right: 20px;
  margin-bottom: 30px;
  background: linear-gradient(209.09deg, #191919 -1.68%, #212121 135.36%);
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 15px;
  background-image: url("../../assets/imgs/backround.png"),
  url("../../assets/imgs/people-bg-small.svg")
  ;
  background-repeat:no-repeat, no-repeat;
  background-position: right 2px bottom 30px, left bottom;
}
.categories__img-div {
  width: 175px;
  height: 135px;
}
.categories__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.categories__name {
  font-weight: 400;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  color: #c9ac8c;
  margin: 0;
  padding-top: 5px;
}

.categories__span {
  display: inline-block;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  padding-left: 60px;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.6);
}

.categories__icon-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 16px;
}

.categories__book,
.categories__music {
  font-size: 20px;
  color: #fff;
  margin-right: 4px;
}
.categories__book-span {
  margin-right: 30px;
}
.categories__book-span,
.categories__music-span {
  font-size: 16px;
  color: #fff;
}

.category__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.categories__links {
  text-decoration: none;
}