.backround {
  width: 100%;
  height: 100%;
  padding-bottom: 32px;
  margin-top: -10px;
  background-color:#fff;
}
.editProfile {
  padding-top: 30px;
}

.edit__img-div {
  margin-right: 100px;
}

.edit__img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.edit__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 27px;
  color: #212121;
}

.editLink {
  text-decoration: none;
}
