.about {
  display: flex;
}
.about__left {
  margin-right: 100px;
}
.about__img-div {
  width: 580px;
  height: 780px;
}
.about__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 35px;
}

.about__both-div {
  display: flex;
  align-items: center;
  padding-left: 60px;
  padding-top: 30px;
}

.about__both-year {
  margin-right: 30px;
}

.about__both-title {
  font-family: "Visuelt Pro";
  font-weight: 300;
  font-size: 12px;
  margin: 0;
  line-height: 144.4%;
  color: rgba(255, 255, 255, 0.6);
}

.about__year {
  font-family: "Rotterburg Stylish FREE";
  font-weight: 400;
  font-size: 39px;
  line-height: 144.4%;
  color: #c9ac8c;
}

.about__city {
  font-family: "Visuelt Pro";
  font-weight: 300;
  font-size: 12px;
  margin: 0;
  line-height: 144.4%;
  color: rgba(255, 255, 255, 0.6);
}
.about__minus {
  font-family: "Rotterburg Stylish FREE";
  display: inline-block;
  margin-right: 30px;
  font-weight: 400;
  font-size: 39px;
  line-height: 144.4%;
  color: #c9ac8c;
}

.about__name {
  font-family: "Rotterburg Stylish FREE";
  font-weight: 400;
  font-size: 48px;
  line-height: 53px;
  color: #c9ac8c;
}
.about__desc {
  font-family: "Steinbeck";
  width: 600px;
  font-weight: 400;
  font-size: 16px;
  line-height: 144.4%;
  color: rgba(255, 255, 255, 0.8);
}

.about__ijodi {
  display: flex;
  align-items: center;
}
.about__icon {
  color: #c9ac8c;
  font-size: 24px;
  margin-right: 5px;
}

.about__ijodi-title {
  font-family: "Rotterburg Stylish FREE";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  position: relative;
  top: 7px;
  color: #c9ac8c;
}

.about__ijodi-text {
  width: 325px;
  font-family: "Steinbeck";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 154.9%;
  color: #ffffff;
  margin: 0;
  margin-top: -5px;
  padding-left: 28px;
  margin-bottom: 40px;
}

.about__asalari {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.about__asalari-name {
  font-family: "Rotterburg Stylish FREE";
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 34px;

  color: #c9ac8c;
}

.about__asalari-text {
  position: relative;
  left: 550px;
  font-family: "Steinbeck";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  color: #ffffff;
}

.about__items-book {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
}

.about__item-books {
  list-style: none;
  margin-right: 40px;
}

.about__books--img-div {
  width: 170px;
  height: 250px;
}
.about__books-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.about__book-name {
  font-family: "Rotterburg Stylish FREE";
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  padding-top: 17px;
  line-height: 22px;
  color: #c9ac8c;
}

.about__book-comments {
  font-family: "Visuelt Pro";
  font-style: normal;
  font-weight: 300;
  padding-top: 3px;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 144.4%;
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
}

.about__book-icon {
  color: #fff;
  font-size: 16px;
  margin-right: 8px;
}